In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_excel("zomatoclean2.xlsx")

In [3]:
data.head()

,Restaurants,online_order,book_table,Rating,votes,location,rest_type,cuisines,Cost,type
0,Jalsa,Yes,Yes,4.1,775,Banashankari,Casual Dining,"North Indian, Mughlai, Chinese",800,Buffet
1,Spice Elephant,Yes,No,4.1,787,Banashankari,Casual Dining,"Chinese, North Indian, Thai",800,Buffet
2,San Churro Cafe,Yes,No,3.8,918,Banashankari,"Cafe, Casual Dining","Cafe, Mexican, Italian",800,Buffet
3,Addhuri Udupi Bhojana,No,No,3.7,88,Banashankari,Quick Bites,"South Indian, North Indian",300,Buffet
4,Grand Village,No,No,3.8,166,Basavanagudi,Casual Dining,"North Indian, Rajasthani",600,Buffet

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34636 entries, 0 to 34635
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Restaurants   34636 non-null  object
 1   online_order  34636 non-null  object
 2   book_table    34636 non-null  object
 3   Rating        34636 non-null  float64
 4   votes         34636 non-null  int64
 5   location      34636 non-null  object
 6   rest_type     34636 non-null  object
 7   cuisines      34636 non-null  object
 8   Cost          34636 non-null  int64
 9   type          34636 non-null  object
dtypes: float64(1), int64(2), object(7)
memory usage: 2.6+ MB

In [5]:
data.columns

Index(['Restaurants', 'online_order', 'book_table', 'Rating', 'votes',
       'location', 'rest_type', 'cuisines', 'Cost', 'type'],
      dtype='object')

## Feature Extraction

In [6]:
training_data = data.copy()

In [7]:
training_data.online_order = training_data.online_order == 'Yes'

In [8]:
training_data.book_table = training_data.book_table == 'Yes'

In [9]:
# Encoding the location 
from sklearn.preprocessing import LabelEncoder

In [10]:
encoder_location = LabelEncoder()
training_data.location = encoder_location.fit_transform(training_data.location)

In [11]:
training_data.drop(columns=["Restaurants"],inplace=True)

In [12]:
training_data.rest_type = training_data.rest_type.apply(lambda x: len(x.split(", ")))

In [13]:
training_data.cuisines = training_data.cuisines.apply(lambda x: len(x.split(", ")))

In [14]:
encoder_type = LabelEncoder()
training_data.type = encoder_type.fit_transform(training_data.type)

In [15]:
training_data

,online_order,book_table,Rating,votes,location,rest_type,cuisines,Cost,type
0,True,True,4.10,775,1,1,3,800,0
1,True,False,4.10,787,1,1,3,800,0
2,True,False,3.80,918,1,2,3,800,0
3,False,False,3.70,88,1,1,2,300,0
4,False,False,3.80,166,4,1,2,600,0
...,...,...,...,...,...,...,...,...,...
34631,False,False,3.60,27,89,1,1,1500,6
34632,False,False,3.73,0,89,1,1,600,6
34633,False,False,3.73,0,89,1,1,2000,6
34634,False,True,4.30,236,26,1,1,2500,6
34635,False,False,3.40,13,26,2,3,1500,6

## Training Model

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
features = training_data.drop(columns=["Rating"])

In [18]:
target = training_data["Rating"]

In [19]:
X_train, X_test, y_train, y_test = train_test_split(features,target,test_size=0.1,random_state=10)

In [20]:
[len(x) for x in [X_train, X_test, y_train, y_test]]

[31172, 3464, 31172, 3464]

import pyforest
from lazypredict.Supervised import LazyRegressor
from pandas.plotting import scatter_matrix

reg = LazyRegressor(ignore_warnings=False, custom_metric=None)
models, predictions = reg.fit(X_train, X_test, y_train, y_test)
print(models)