In [17]:

import pandas as pd
import numpy as np
import sklearn
from sklearn.ensemble import ExtraTreesRegressor
from sklearn.model_selection import train_test_split


import warnings
warnings.filterwarnings('ignore')

x = df.iloc[:,[4,8,10,11]]
y=df['Rating']

In [18]:
x.head()

   votes  Cost  cuisines_count  Rating
0    775   800               3     4.1
1    787   800               3     4.1
2    918   800               3     3.8
3     88   300               2     3.7
4    166   600               2     3.8

In [19]:
y

0        4.1
1        4.1
2        3.8
3        3.7
4        3.8
        ...
34631    3.6
34632    3.7
34633    3.7
34634    4.3
34635    3.4
Name: Rating, Length: 34636, dtype: float64

In [20]:
df=pd.read_excel("C:\\Users\\nikhi\\Downloads\\zomatoclean_updated.xlsx")
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.3,random_state=10)

from sklearn.linear_model import LinearRegression  
regressor = LinearRegression()  
regressor.fit(x_train, y_train) 

print("Training complete.")

Training complete.

In [39]:
print(x_test)

       votes  Cost  cuisines_count  Rating
25936     18   250               2     3.8
18028      0   300               3     3.7
18226     34   400               3     3.7
17062    166   400               2     4.1
16406    407   400               3     3.6
...      ...   ...             ...     ...
20826     63   350               2     3.8
4642      68   700               1     4.1
28127      9   300               1     3.1
25003   1238  1700               6     4.5
23203    739  1200               1     4.5

[10391 rows x 4 columns]

In [40]:
y_pred = regressor.predict(x_test)
y_pred

array([3.8, 3.7, 3.7, ..., 3.1, 4.5, 4.5])

In [41]:
df = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})  
df

       Actual  Predicted
25936     3.8        3.8
18028     3.7        3.7
18226     3.7        3.7
17062     4.1        4.1
16406     3.6        3.6
...       ...        ...
20826     3.8        3.8
4642      4.1        4.1
28127     3.1        3.1
25003     4.5        4.5
23203     4.5        4.5

[10391 rows x 2 columns]

In [42]:
#Finding mean absolute error
from sklearn import metrics  
print('Mean Absolute Error:', 
      metrics.mean_absolute_error(y_test, y_pred))

Mean Absolute Error: 9.888261041575305e-16